rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to reviews
    match /reviews/{reviewId} {
      allow read, write: if true;
    }
  }
}